In [112]:
#import dependencies
import pandas as pd 
import numpy as np

In [113]:
#read in all files
# Arizona = pd.read_excel('./cleaner_xlsx/Arizona.xlsx')
California = pd.read_excel('./cleaner_xlsx/California.xlsx')
DesMoinesIowa = pd.read_excel('./cleaner_xlsx/DesMoinesIowa.xlsx')
FloridaNoPhoneNumber = pd.read_excel('./cleaner_xlsx/FloridaNOPHONENUMBER.xlsx')
Illinois = pd.read_excel('./cleaner_xlsx/Illinois.xlsx')
Minnesota = pd.read_excel('./cleaner_xlsx/Minnesota.xlsx')
Pennsylvania = pd.read_excel('./cleaner_xlsx/Pennsylvania.xlsx')
MiscToMerge = pd.read_excel('./cleaner_xlsx/MiscToMerge.xlsx')

Exception ignored in: <function ZipFile.__del__ at 0x000001F47CB0C438>
Traceback (most recent call last):
  File "C:\Users\ryana\anaconda3\lib\zipfile.py", line 1809, in __del__
    self.close()
  File "C:\Users\ryana\anaconda3\lib\zipfile.py", line 1827, in close
    self._write_end_record()
  File "C:\Users\ryana\anaconda3\lib\zipfile.py", line 1931, in _write_end_record
    self.fp.write(endrec)
  File "C:\Users\ryana\anaconda3\lib\zipfile.py", line 771, in write
    n = self.fp.write(data)
  File "C:\Users\ryana\anaconda3\lib\site-packages\pandas\core\generic.py", line 5274, in __getattr__
    return object.__getattribute__(self, name)
AttributeError: 'DataFrame' object has no attribute 'write'

In [114]:
Arizona.head()

,Unnamed: 0,License No,Business Name,Doing Business As,Address,Address 2,City,State,Zip,Qualifying Party,Class,Class Detail,Class Type,Issued Date,Expiration Date,Status
0,1,303300,#1 Arizona Electric LLC,,315 Foxpoint Ln,,Lake Havasu City,AZ,86406,John William Dolan,CR-11,CR-11 Electrical,Dual,3/2/2016,3/31/2022,Current
1,2,245090,$99 Home Improvements LLC,,6252 W Cochise Dr,,Glendale,AZ,85302,Michael Lloyd Van Winkle,R-62,R-62 Minor Home Improvements,Residential,5/16/2008,5/31/2022,Current
2,3,323387,0369 Security Solutions Services LLC,0369SSS,16356 W Cielo Grande Ave,,Surprise,AZ,85387,Burnett Capae Sheppard Sr,CR-67,CR-67 Low Voltage Communication Systems,Dual,1/29/2019,1/31/2023,Current
3,4,273326,1 2 3 Flooring Inc,"1 2 3 Flooring and Construction, 1 2 3 Constr...",1830 S Lindsay Rd,,Gilbert,AZ,85295,Kamran Afshari,CR-8,CR-8 Floor Covering,Dual,5/30/2011,5/31/2021,Current
4,5,293292,1 2 3 Flooring Inc,"1 2 3 Flooring and Construction, 1 2 3 Constr...",1830 S Lindsay Rd,,Gilbert,AZ,85295,Kamran Afshari,B-3,B-3 General Remodeling and Repair Contractor,Residential,6/28/2014,6/30/2022,Current

In [115]:
Pennsylvania.head()

,Unnamed: 0,FullBusinessName,Business_Phone,Business_email_url,Business_address,City,State,Zip
0,0,North American Dismantling & Demolition,(888) 639-1652,nfo@nadc1.com,NaN,NaN,NaN,NaN
1,1,Basalla Homes LLC,(814) 692-7234,NaN,165 Lutz Ln,Port Matilda,PA,16870.0
2,2,John F. Kelius Excavating,(610) 323-8546,john@johnkeliusplumbingandexcavating.com,1587 Rupert Rd,Pottstown,PA,19464.0
3,3,Bairs Stone Masonry,(570) 858-0394,NaN,27 Juniper Ln,Mill Hall,PA,17751.0
4,4,James Excavating,(814) 539-1903,darla.poloyac@jamesexcavating.com,476 Hildebrand St,Johnstown,PA,15909.0

In [116]:
California.count()

Unnamed: 0          228291
LicenseNo           228291
BusinessName        228291
FullBusinessName     54462
MailingAddress      228291
City                228291
State               228263
ZIPCode             228289
BusinessPhone       228125
PrimaryStatus       228291
dtype: int64

In [117]:
Minnesota = Minnesota.rename(columns = {' State':'State',' Addr1':'Addr1',' City':'City',' ZIP':'ZIP',' Phone No':'Phone No'})

In [118]:
myList = [California,DesMoinesIowa,FloridaNoPhoneNumber,Illinois,Minnesota,Pennsylvania]
for i in myList:
    i.merge(MiscToMerge, how = 'left', on = 'State')
    # print(i['State'].dtype)

In [119]:
Minnesota.columns

Index(['Unnamed: 0', 'Name', 'Addr1', ' Addr2', 'City', 'State', 'ZIP',
       ' LicNumber', ' Status', ' CE Status', ' Orig Date', ' Exp Date',
       'Phone No', 'Unnamed: 12'],
      dtype='object')

In [120]:
Minnesota = Minnesota[['Name','Addr1', 'City','State','ZIP','Phone No']]
California.dropna()
California = California[['BusinessName', 'FullBusinessName','MailingAddress','City','State','ZIPCode','BusinessPhone']]
DesMoinesIowa = DesMoinesIowa[['FullBusinessName','MailingAddress','City', 'State', 'Zip Code', 'BusinessPhone']]
Illinois = Illinois.dropna(subset=['FullBusinessName','Business_Phone','Business_address'])
Illinois = Illinois[['FullBusinessName','Business_Phone','Business_address','Business_email_url','City','State','Zip']]
Minnesota = Minnesota.dropna(subset=['Phone No'])
Pennsylvania = Pennsylvania.dropna(subset=['FullBusinessName','Business_Phone','Business_address'])
Pennsylvania = Pennsylvania[['FullBusinessName','Business_Phone','Business_email_url', 'Business_address', 'City', 'State', 'Zip']]

In [121]:
#Push to new excel clean up excel for tomorrow delete unneeded excel
myNewList = [California,DesMoinesIowa,Illinois,Minnesota,Pennsylvania]

  
California.to_excel('./NewestEXCEL/California.xlsx')
DesMoinesIowa.to_excel('./NewestEXCEL/DesMoinesIowa.xlsx')
Illinois.to_excel('./NewestEXCEL/Illinois.xlsx')
Minnesota.to_excel('./NewestEXCEL/Minnesota.xlsx')
Pennsylvania.to_excel('./NewestEXCEL/Pennsylvania.xlsx')